[Core]

Spooky mode = false

Outside nutcracker statues = true

[Visual overhouls]

## Changes the Toy Store to the Halloween variant
# Setting type: Boolean
# Default value: true
Spooky mode = true

