## Settings file was created by plugin SellMyScrap v1.6.1
## Plugin GUID: com.github.zehsteam.SellMyScrap

[Advanced Sell Settings]

## Do you want to sell scrap worth zero?
# Setting type: Boolean
# Default value: false
SellScrapWorthZero = false

## Do you want to sell scrap that is only on the floor?
# Setting type: Boolean
# Default value: false
OnlySellScrapOnFloor = false

## JSON array of item names to not sell.
## Use the `edit config` command to easily edit the `dontSellListJson` config setting from the terminal.
## Use the `view scrap` or `view all scrap` command to see the correct item names to use.
## Item names are not case-sensitive but, spaces do matter.
## https://www.w3schools.com/js/js_json_arrays.asp
## Example value: ["Maxwell", "Cookie Fumo", "Blahaj", "Octolar Plush", "Smol Takey", "Dusty Plush"]
# Setting type: String
# Default value: []
DontSellListJson = []

## JSON array of item names to sell when using the `sell list` command.
## Use the `edit config` command to easily edit the `sellListJson` config setting from the terminal.
## Use the `view scrap` or `view all scrap` command to see the correct item names to use.
## Item names are not case-sensitive but, spaces do matter.
## https://www.w3schools.com/js/js_json_arrays.asp
## 
# Setting type: String
# Default value: [\"Whoopie cushion\",\"Easter egg\",\"Tragedy\",\"Comedy\"]
SellListJson = [\"Whoopie cushion\",\"Easter egg\",\"Tragedy\",\"Comedy\"]

[Misc Settings]

## The Company will speak inside your ship after selling from the terminal.
# Setting type: Boolean
# Default value: true
SpeakInShip = true

## The percent chance the Company will say a rare microphone voice line after selling.
# Setting type: Single
# Default value: 5
RareVoiceLineChance = 5

## If enabled, will show a warning when you try to pull the ship's lever when the quota hasn't been fulfilled at the Company building with 0 days left.
# Setting type: Boolean
# Default value: true
ShowQuotaWarning = true

[Scrap Eater Settings]

## The percent chance a scrap eater will spawn?!
# Setting type: Int32
# Default value: 75
# Acceptable value range: From 0 to 100
ScrapEaterChance = 0

## The spawn chance weight Octolar will spawn?! (scrap eater)
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 100
OctolarSpawnWeight = 0

## The spawn chance weight Takey will spawn?! (scrap eater)
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 100
TakeySpawnWeight = 0

## The spawn chance weight Maxwell will spawn?! (scrap eater)
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 100
MaxwellSpawnWeight = 0

## The spawn chance weight Yippee will spawn?! (scrap eater)
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 100
YippeeSpawnWeight = 0

## The spawn chance weight Cookie Fumo will spawn?! (scrap eater)
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 100
CookieFumoSpawnWeight = 0

## The spawn chance weight Psycho will spawn?! (scrap eater)
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 100
PsychoSpawnWeight = 0

## The spawn chance weight Zombies will spawn?! (scrap eater)
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 100
ZombiesSpawnWeight = 0

[Sell Settings]

## Do you want to sell Gifts?
# Setting type: Boolean
# Default value: false
SellGifts = false

## Do you want to sell Shotguns?
# Setting type: Boolean
# Default value: false
SellShotguns = false

## Do you want to sell Ammo?
# Setting type: Boolean
# Default value: false
SellAmmo = false

## Do you want to sell Kitchen knives?
# Setting type: Boolean
# Default value: false
SellKnives = false

## Do you want to sell Jar of pickles?
# Setting type: Boolean
# Default value: true
SellPickles = true

[Terminal Settings]

## Overrides the terminal welcome message to add additional info.
# Setting type: Boolean
# Default value: true
OverrideWelcomeMessage = true

## Overrides the terminal help message to add additional info.
# Setting type: Boolean
# Default value: true
OverrideHelpMessage = true

## Show found items on the confirmation screen.
# Setting type: Boolean
# Default value: true
ShowFoundItems = true

## Sorts found items from most to least expensive.
# Setting type: Boolean
# Default value: true
SortFoundItemsPrice = true

## Align all prices of found items.
# Setting type: Boolean
# Default value: true
AlignFoundItemsPrice = true

