## Settings file was created by plugin WiseWeapons v2.1.0.0
## Plugin GUID: DuskWise.WiseWeapons

[Crowbar Options]

## Whether Crowbar is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

## Whether you're allowed to edit the config entries for Crowbar.
# Setting type: Boolean
# Default value: false
Crowbar | Allow Editing Config = false

## Preset moon weights for Crowbar.
# Setting type: String
# Default value: lethal_company:dine=+0
Crowbar | Preset Moon Weights = lethal_company:dine=+0

## Preset interior weights for Crowbar.
# Setting type: String
# Default value: lethal_company:facility=+20,lethal_company:mansion=+5,lethal_company:mineshaft=+15,<None>:expanded_facility=+20,<None>:expanded_mineshaft=+20,<None>:storage_complex=+25
Crowbar | Preset Interior Weights = lethal_company:facility=+20,lethal_company:mansion=+5,lethal_company:mineshaft=+15,<None>:expanded_facility=+20,<None>:expanded_mineshaft=+20,<None>:storage_complex=+25

## Preset weather weights for Crowbar.
# Setting type: String
# Default value: 
Crowbar | Preset Weather Weights = 

## Preset route weights for Crowbar.
# Setting type: String
# Default value: 
Crowbar | Preset Route Weights = 

## Whether Crowbar is a scrap item.
# Setting type: Boolean
# Default value: true
Crowbar | Is Scrap = true

## How much Crowbar is worth when spawning.
# Setting type: BoundedRange
# Default value: 16,48
Crowbar | Value = 16,48

[Hand Grenade Options]

## Whether Hand Grenade is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

## Whether you're allowed to edit the config entries for Hand grenade.
# Setting type: Boolean
# Default value: false
Hand grenade | Allow Editing Config = false

## Preset moon weights for Hand grenade.
# Setting type: String
# Default value: 
Hand grenade | Preset Moon Weights = 

## Preset interior weights for Hand grenade.
# Setting type: String
# Default value: 
Hand grenade | Preset Interior Weights = 

## Preset weather weights for Hand grenade.
# Setting type: String
# Default value: 
Hand grenade | Preset Weather Weights = 

## Preset route weights for Hand grenade.
# Setting type: String
# Default value: 
Hand grenade | Preset Route Weights = 

## Whether Hand grenade is a shop item.
# Setting type: Boolean
# Default value: true
Hand grenade | Is Shop Item = true

## Cost for Hand grenade in the shop.
# Setting type: Int32
# Default value: 150
Hand grenade | Cost = 150

[Metal Pipe Options]

## Whether Metal Pipe is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

## Whether you're allowed to edit the config entries for Metal Pipe.
# Setting type: Boolean
# Default value: false
Metal Pipe | Allow Editing Config = false

## Preset moon weights for Metal Pipe.
# Setting type: String
# Default value: lethal_company:dine=+0
Metal Pipe | Preset Moon Weights = lethal_company:dine=+0

## Preset interior weights for Metal Pipe.
# Setting type: String
# Default value: lethal_company:facility=+20,lethal_company:mansion=+5,lethal_company:mineshaft=+15,<None>:expanded_facility=+20,<None>:expanded_mineshaft=+20,<None>:storage_complex=+25
Metal Pipe | Preset Interior Weights = lethal_company:facility=+20,lethal_company:mansion=+5,lethal_company:mineshaft=+15,<None>:expanded_facility=+20,<None>:expanded_mineshaft=+20,<None>:storage_complex=+25

## Preset weather weights for Metal Pipe.
# Setting type: String
# Default value: 
Metal Pipe | Preset Weather Weights = 

## Preset route weights for Metal Pipe.
# Setting type: String
# Default value: 
Metal Pipe | Preset Route Weights = 

## Whether Metal Pipe is a scrap item.
# Setting type: Boolean
# Default value: true
Metal Pipe | Is Scrap = true

## How much Metal Pipe is worth when spawning.
# Setting type: BoundedRange
# Default value: 16,48
Metal Pipe | Value = 16,48

[Wooden Axe Options]

## Whether Wooden Axe is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

## Whether you're allowed to edit the config entries for Wooden Axe.
# Setting type: Boolean
# Default value: false
Wooden Axe | Allow Editing Config = false

## Preset moon weights for Wooden Axe.
# Setting type: String
# Default value: lethal_company:dine=+0
Wooden Axe | Preset Moon Weights = lethal_company:dine=+0

## Preset interior weights for Wooden Axe.
# Setting type: String
# Default value: lethal_company:facility=+15,lethal_company:mansion=+20,lethal_company:mineshaft=+20,<None>:expanded_facility=+20,<None>:expanded_facility=+15,<None>:storage_complex=+25
Wooden Axe | Preset Interior Weights = lethal_company:facility=+15,lethal_company:mansion=+20,lethal_company:mineshaft=+20,<None>:expanded_facility=+20,<None>:expanded_facility=+15,<None>:storage_complex=+25

## Preset weather weights for Wooden Axe.
# Setting type: String
# Default value: 
Wooden Axe | Preset Weather Weights = 

## Preset route weights for Wooden Axe.
# Setting type: String
# Default value: 
Wooden Axe | Preset Route Weights = 

## Whether Wooden Axe is a scrap item.
# Setting type: Boolean
# Default value: true
Wooden Axe | Is Scrap = true

## How much Wooden Axe is worth when spawning.
# Setting type: BoundedRange
# Default value: 16,28
Wooden Axe | Value = 16,28

