## Settings file was created by plugin Cursed Scraps v2.1.0
## Plugin GUID: Lega.CursedScraps

[_Global_]

## Overall chance of scrap appearing.
## This value does not replace the chance of appearance for each curse; the latter are considered after the overall chance to determine which curse is chosen.
## You can adjust this value according to the moon by adding its name along with its value (moon:value). Each key/value pair should be separated by a comma.
# Setting type: String
# Default value: default:15
Chance = default:15

## Set to false to allow players to change their settings when a curse modifying controls is active.
## This configuration is mainly there in case of unforeseen bugs or potential incompatibility.
# Setting type: Boolean
# Default value: true
Preventing settings changes = true

## List of scraps that will not be cursed.
## You can add scraps by separating them with a comma.
# Setting type: String
# Default value: Key
Exclusion list = Key

## Min cursed particle scale.
# Setting type: Single
# Default value: 0.1
Min particle scale = 0.1

## Max cursed particle scale.
# Setting type: Single
# Default value: 1
Max particle scale = 1

## List of renderer names for displaying the door's aura, to use in case custom map doors have different names.
# Setting type: String
# Default value: Cube.001,Cube.002,DoorMesh,Trigger,EntranceTeleport
Renderer names = Cube.001,Cube.002,DoorMesh,Trigger,EntranceTeleport

[_Hiding mechanic_]

## Is red scan on cursed scraps enabled?
# Setting type: Boolean
# Default value: true
Enable red scan = true

## Is cursed particle enabled?
# Setting type: Boolean
# Default value: true
Enable particle = true

## Hide curse line in scan node
# Setting type: Boolean
# Default value: false
Hide curse line = false

## Replace the curse name with '???'
# Setting type: Boolean
# Default value: false
Hide curse name = false

## Replace the cursed scrap value with '???'
# Setting type: Boolean
# Default value: false
Hide scrap value = false

[_HUD_]

## Does the information popup appear when a player is cursed?
# Setting type: Boolean
# Default value: true
Curse info = true

## X position of player curses text on the interface as a spectator.
# Setting type: Single
# Default value: -30
Dead curses pos X = -30

## Y position of player curses text on the interface as a spectator.
# Setting type: Single
# Default value: 50
Dead curses pos Y = 50

## X position of player's distance text, from the Communication curse, on the interface as a spectator.
# Setting type: Single
# Default value: 30
Communication distance pos X = 30

## Y position of player's distance text, from the Communication curse, on the interface as a spectator.
# Setting type: Single
# Default value: -50
Communication distance pos Y = -50

[_Penalty mechanic_]

## Mode for the penalty mechanic.
## Hard - When the counter is reached, all players receive the curse of the next scrap scanned.
## Medium - When the counter is reached, only the player who scans the next cursed scrap receives the curse.
## None - Never apply the penalty.
# Setting type: String
# Default value: Hard
Mode = Hard

## Number of cursed objects to be scanned before the next one affects the penalty.
## The counter is reset after the penalty is applied.
# Setting type: Int32
# Default value: 10
Counter = 10

[Blurry]

## Is Blurry curse enabled?
## Reduces visual clarity on the player's camera.
# Setting type: Boolean
# Default value: true
Enable = true

## Value multiplier for scraps with the Blurry curse.
# Setting type: Single
# Default value: 2
Multiplier = 2

## Spawn weight of a scrap with the Blurry curse.
## You can adjust this value according to the moon by adding its name along with its value (moon:value). Each key/value pair should be separated by a comma.
# Setting type: String
# Default value: default:1
Weight = default:1

## Intensity of the Blurry curse.
# Setting type: Single
# Default value: 1
Intensity = 1

[Captive]

## Is Captive curse enabled?
## Prevents the item from being thrown until it has been brought back to the ship.
# Setting type: Boolean
# Default value: true
Enable = true

## Value multiplier for scraps with the Captive curse.
# Setting type: Single
# Default value: 1.5
Multiplier = 1.5

## Spawn weight of a scrap with the Captive curse.
## You can adjust this value according to the moon by adding its name along with its value (moon:value). Each key/value pair should be separated by a comma.
# Setting type: String
# Default value: default:1
Weight = default:1

[Communication]

## Is Communication curse enabled?.
# Setting type: Boolean
# Default value: true
Enable = true

## Value multiplier for scraps with the Communication curse.
# Setting type: Single
# Default value: 2
Multiplier = 2

## Spawn weight of a scrap with the Communication curse.
## You can adjust this value according to the moon by adding its name along with its value (moon:value). Each key/value pair should be separated by a comma.
# Setting type: String
# Default value: default:1
Weight = default:1

## Cooldown duration per player for sending indications to the cursed player (hot/cold particles).
# Setting type: Single
# Default value: 10
Cooldown duration = 10

[Confusion]

## Is Confusion curse enabled?
## Reverses movement controls and jump/crouch keys for the player.
# Setting type: Boolean
# Default value: true
Enable = true

## Value multiplier for scraps with the Confusion curse.
# Setting type: Single
# Default value: 2
Multiplier = 2

## Spawn weight of a scrap with the Confusion curse.
## You can adjust this value according to the moon by adding its name along with its value (moon:value). Each key/value pair should be separated by a comma.
# Setting type: String
# Default value: default:1
Weight = default:1

[Deafness]

## Is Deafness curse enabled?
## Removes the player's sound.
# Setting type: Boolean
# Default value: true
Enable = true

## Value multiplier for scraps with the Deafness curse.
# Setting type: Single
# Default value: 2
Multiplier = 2

## Spawn weight of a scrap with the Deafness curse.
## You can adjust this value according to the moon by adding its name along with its value (moon:value). Each key/value pair should be separated by a comma.
# Setting type: String
# Default value: default:1
Weight = default:1

[Diminutive]

## Is Diminutive curse enabled?
## Reduces the player's size.
# Setting type: Boolean
# Default value: true
Enable = true

## Value multiplier for scraps with the Diminutive curse.
# Setting type: Single
# Default value: 2
Multiplier = 2

## Spawn weight of a scrap with the Diminutive curse.
## You can adjust this value according to the moon by adding its name along with its value (moon:value). Each key/value pair should be separated by a comma.
# Setting type: String
# Default value: default:1
Weight = default:1

## Speed divider for player movement; the higher the value, the slower the player will move.
# Setting type: Single
# Default value: 2
Speed = 2

## Distance grab divider for the player; the higher the value, the less the player will be able to grab from a distance.
# Setting type: Single
# Default value: 4
Grab = 4

[Errant]

## Is Errant curse enabled?
## Teleports the player randomly when an item is picked up or placed down.
# Setting type: Boolean
# Default value: true
Enable = true

## Value multiplier for scraps with the Errant curse.
# Setting type: Single
# Default value: 2.5
Multiplier = 2.5

## Spawn weight of a scrap with the Errant curse.
## You can adjust this value according to the moon by adding its name along with its value (moon:value). Each key/value pair should be separated by a comma.
# Setting type: String
# Default value: default:1
Weight = default:1

[Exploration]

## Is Exploration curse enabled?
## Prevents the player from exiting or entering the factory through all doors except one.
# Setting type: Boolean
# Default value: true
Enable = true

## Value multiplier for scraps with the Exploration curse.
# Setting type: Single
# Default value: 1.5
Multiplier = 1.5

## Spawn weight of a scrap with the Exploration curse.
## You can adjust this value according to the moon by adding its name along with its value (moon:value). Each key/value pair should be separated by a comma.
# Setting type: String
# Default value: default:1
Weight = default:1

## Distance between the player and the door at which the door's aura disappears.
# Setting type: Single
# Default value: 30
Distance = 30

[Fragile]

## Is Fragile curse enabled?.
# Setting type: Boolean
# Default value: true
Enable = true

## Value multiplier for scraps with the Fragile curse.
# Setting type: Single
# Default value: 2
Multiplier = 2

## Spawn weight of a scrap with the Fragile curse.
## You can adjust this value according to the moon by adding its name along with its value (moon:value). Each key/value pair should be separated by a comma.
# Setting type: String
# Default value: default:1
Weight = default:1

## List of items not affected by the Fragile curse.
## You can add items by separating them with a comma.
# Setting type: String
# Default value: Saw Tape
Exclusion list = Saw Tape

[Holy Water]

## Is Holy Water item enabled?
## Consumable that removes all active curses on the player.
# Setting type: Boolean
# Default value: true
Enable = true

## Holy Water spawn rarity.
# Setting type: Int32
# Default value: 20
Rarity = 20

## Min Holy Water to spawn
# Setting type: Int32
# Default value: 1
Min spawn = 1

## Max Holy Water to spawn
# Setting type: Int32
# Default value: 4
Max spawn = 4

[Inhibition]

## Is Inhibition curse enabled?
## Prevents the player from jumping and crouching.
# Setting type: Boolean
# Default value: true
Enable = true

## Value multiplier for scraps with the Inhibition curse.
# Setting type: Single
# Default value: 1.75
Multiplier = 1.75

## Spawn weight of a scrap with the Inhibition curse.
## You can adjust this value according to the moon by adding its name along with its value (moon:value). Each key/value pair should be separated by a comma.
# Setting type: String
# Default value: default:1
Weight = default:1

## Display a message when the blocked action is modified.
# Setting type: Boolean
# Default value: false
Message = false

## Cooldown duration before a new action can be triggered.
# Setting type: Single
# Default value: 20
Cooldown = 20

## Actions that can be blocked by the curse Inhibition.
# Setting type: String
# Default value: Jump,Crouch,Interact,Sprint,PingScan
Actions = Jump,Crouch,Interact,Sprint,PingScan

[Mute]

## Is Mute curse enabled?
## Mutes the player's microphone.
# Setting type: Boolean
# Default value: true
Enable = true

## Value multiplier for scraps with the Mute curse.
# Setting type: Single
# Default value: 1.25
Multiplier = 1.25

## Spawn weight of a scrap with the Mute curse.
## You can adjust this value according to the moon by adding its name along with its value (moon:value). Each key/value pair should be separated by a comma.
# Setting type: String
# Default value: default:1
Weight = default:1

[Old Scroll]

## Is Old Scroll item enabled?
## Consumable that shows the aura of the entrances.
# Setting type: Boolean
# Default value: true
Spawnable = true

## Old Scroll spawn rarity.
# Setting type: Int32
# Default value: 20
Rarity = 20

## Min Old Scroll to spawn
# Setting type: Int32
# Default value: 1
Min spawn = 1

## Max Old Scroll to spawn
# Setting type: Int32
# Default value: 2
Max spawn = 2

## Duration for which the door's aura is visible through walls
# Setting type: Single
# Default value: 10
Aura duration = 10

[Paralysis]

## Is Paralysis curse enabled?
## Paralyzes the player when scanning an enemy.
# Setting type: Boolean
# Default value: true
Enable = true

## Value multiplier for scraps with the Paralysis curse.
# Setting type: Single
# Default value: 1.75
Multiplier = 1.75

## Spawn weight of a scrap with the Paralysis curse.
## You can adjust this value according to the moon by adding its name along with its value (moon:value). Each key/value pair should be separated by a comma.
# Setting type: String
# Default value: default:1
Weight = default:1

## Player paralysis time in seconds.
# Setting type: Single
# Default value: 5
Time = 5

[Shadow]

## Is Shadow curse enabled?
## All enemies are invisible by default (their sound is still active), scanning reveals them.
# Setting type: Boolean
# Default value: true
Enable = true

## Value multiplier for scraps with the Shadow curse.
# Setting type: Single
# Default value: 2
Multiplier = 2

## Spawn weight of a scrap with the Shadow curse.
## You can adjust this value according to the moon by adding its name along with its value (moon:value). Each key/value pair should be separated by a comma.
# Setting type: String
# Default value: default:1
Weight = default:1

## List of creatures that will not be affected by the Shadow curse.
## You can add enemies by separating them with a comma.
# Setting type: String
# Default value: Masked
Exclusion list = Masked

