## Settings file was created by plugin LobbyControl v2.4.2
## Plugin GUID: mattymatty.LobbyControl

[InvisiblePlayer]

## attempts to fix late joining players appearing invisible to the rest of the lobby
# Setting type: Boolean
# Default value: true
enabled = true

[ItemSync]

## prevent the creation of non-grabbable items in case of inventory desync
# Setting type: Boolean
# Default value: true
ghost_items = true

## forcefully drop all items of the player causing the desync
# Setting type: Boolean
# Default value: true
force_drop = false

## prevent the shotgun disappearing when reloading it
# Setting type: Boolean
# Default value: true
shotgun_reload = true

## sync held object upon usage
# Setting type: Boolean
# Default value: false
sync_on_use = false

## sync held object upon interaction
# Setting type: Boolean
# Default value: false
sync_on_interact = false

## do not attempt sync on items that are in the list (compatibility with FlashLight toggle, ecc)
# Setting type: String
# Default value: Flashlight,Pro-flashlight,Laser pointer
sync_ignore_name = Flashlight,Pro-flashlight,Laser pointer

[JoinQueue]

## handle joining players as a queue instead of at the same time
# Setting type: Boolean
# Default value: true
enabled = true

## After how much time discard a hanging connection
# Setting type: Int32
# Default value: 3000
connection_timeout_ms = 3000

## Delay between each successful connection
# Setting type: Int32
# Default value: 500
connection_delay_ms = 500

[LogSpam]

## prevent some annoying log spam
# Setting type: Boolean
# Default value: true
enabled = true

## stop pathfinding for dead Enemies
# Setting type: Boolean
# Default value: true
CalculatePolygonPath = true

## disable audio spatialization as there is not spatialization plugin
# Setting type: Boolean
# Default value: true
audio_spatializer = false

[SaveLimit]

## remove the limit to the amount of items that can be saved
# Setting type: Boolean
# Default value: true
enabled = true

[SteamLobby]

## automatically reopen the lobby as soon as you reach orbit
# Setting type: Boolean
# Default value: false
auto_lobby = false

## fix mismatched radar names if a radar booster was activated during the play session
# Setting type: Boolean
# Default value: true
radar_fix = true

