## Settings file was created by plugin WeatherRegistry v0.7.4
## Plugin GUID: mrov.WeatherRegistry

[|General]

## Enable colored weathers on map screen
# Setting type: Boolean
# Default value: true
Colored Weathers = true

## Display planet videos on map screen
# Setting type: Boolean
# Default value: true
Planet Videos = true

## Show weather multipliers on map screen
# Setting type: Boolean
# Default value: false
Show Weather Multipliers = false

## Use Registry's scrap multipliers. Disable if you prefer to use other mod's multiplier settings.
# Setting type: Boolean
# Default value: true
Scrap multipliers = true

[|Logging]

## Select which logs to show.
# Setting type: LoggingType
# Default value: Basic
# Acceptable values: Basic, Debug, Developer
Display Log Levels = Basic

[|WeatherSelection]

## Select the algorithm to use during weather selection.
# Setting type: WeatherAlgorithm
# Default value: Registry
# Acceptable values: Registry, Vanilla, Hybrid
Weather Selection Algorithm = Registry

