## Settings file was created by plugin Rats v1.3.1
## Plugin GUID: Snowlance.Rats

[Box Of Snap Traps Options]

## Whether Box Of Snap Traps is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

## Whether you're allowed to edit the config entries for Box Of Snap Traps.
# Setting type: Boolean
# Default value: false
Box Of Snap Traps | Allow Editing Config = false

## Whether Box Of Snap Traps is a shop item.
# Setting type: Boolean
# Default value: true
Box Of Snap Traps | Is Shop Item = true

## Cost for Box Of Snap Traps in the shop.
# Setting type: Int32
# Default value: 20
Box Of Snap Traps | Cost = 20

## The amount of snap traps that come with a Box Of Snap Traps
# Setting type: Int32
# Default value: 100
Snap Trap Amount = 100

## The time in seconds for snap traps to despawn after being triggered
# Setting type: Single
# Default value: 10
Despawn Time = 10

[Glue Trap Options]

## Whether Glue Trap is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

## Whether you're allowed to edit the config entries for Glue Board.
# Setting type: Boolean
# Default value: false
Glue Board | Allow Editing Config = false

## Whether you're allowed to edit the config entries for Glue Trap.
# Setting type: Boolean
# Default value: false
Glue Trap | Allow Editing Config = false

## Whether Glue Trap is a shop item.
# Setting type: Boolean
# Default value: true
Glue Trap | Is Shop Item = true

## Cost for Glue Trap in the shop.
# Setting type: Int32
# Default value: 15
Glue Trap | Cost = 15

## The amount of glue boards you can place down from a glue board trap item
# Setting type: Int32
# Default value: 4
Glue Board Amount = 4

## The scrap value added to the glue board per rat stuck in trap
# Setting type: Int32
# Default value: 2
Scrap Value Per Rat = 2

## The maximum number of rats that can be caught on a single glue board
# Setting type: Int32
# Default value: 5
Max Rats On Glue Board = 5

[Rat Nest Options]

## Whether Rat Nest is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

## Whether you're allowed to edit the config entries for Rat Nest.
# Setting type: Boolean
# Default value: false
Rat Nest | Allow Editing Config = false

## Whether Rat Nest is an inside hazard
# Setting type: Boolean
# Default value: true
Rat Nest | Is Inside Hazard = true

## Whether Rat Nest should prioritise moon curves rather than interior curves when spawning inside.
# Setting type: Boolean
# Default value: true
Rat Nest | Inside Spawn Prioritise Moon = true

## Curve weights for Rat Nest when spawning inside using Moon weights.
# Setting type: String
# Default value: lethal_company:vanilla - 0.00, 0.00;0.11, 0.14;0.22, 0.50;0.33, 1.04;0.44, 1.67;0.56, 2.33;0.67, 2.96;0.78, 3.50;0.89, 3.86;1.00, 4.00 | lethal_company:custom - 0.00, 1.00;0.11, 1.10;0.22, 1.38;0.33, 1.78;0.44, 2.25;0.56, 2.75;0.67, 3.22;0.78, 3.62;0.89, 3.90;1.00, 4.00
Rat Nest | Inside Moon Spawn Weights = lethal_company:vanilla - 0.00, 0.00;0.11, 0.14;0.22, 0.50;0.33, 1.04;0.44, 1.67;0.56, 2.33;0.67, 2.96;0.78, 3.50;0.89, 3.86;1.00, 4.00 | lethal_company:custom - 0.00, 1.00;0.11, 1.10;0.22, 1.38;0.33, 1.78;0.44, 2.25;0.56, 2.75;0.67, 3.22;0.78, 3.62;0.89, 3.90;1.00, 4.00

## Curve weights for Rat Nest when spawning inside using Interior weights.
# Setting type: String
# Default value: 
Rat Nest | Inside Interior Spawn Weights = 

## The maximum number of rats that can be on the map. Lowering this can improve performance.
# Setting type: Int32
# Default value: 50
Max Rats = 50

## The amount of groups the rats will be split into to update. (if you dont know what this means, just leave this config alone)
# Setting type: Int32
# Default value: 5
Batch Group Count = 5

## The amount of time between each group update. (if you dont know what this means, just leave this config alone)
# Setting type: Single
# Default value: 0.2
Batch Update Interval = 0.2

## The min/max time in seconds before a rat can spawn from a nest after the last rat was spawned
# Setting type: BoundedRange
# Default value: 5,20
Rat Spawn Time = 5,20

## The amount of food needed in the nest to spawn a new rat
# Setting type: Int32
# Default value: 5
Food To Spawn Rat = 5

## How much food points one HP will equal for enemies. ex: if 10, thumper will give 40 food points
# Setting type: Int32
# Default value: 10
Enemy Food Per HP Point = 10

## Rats spawn with a santa hat
# Setting type: Boolean
# Default value: false
Holiday Rats = false

## Uses a lower quality model for the rats with no animations. Can help with performance if enabled.
# Setting type: Boolean
# Default value: false
Use Jerma Rats = false

## The threat level at which rats begin attacking the player
# Setting type: Int32
# Default value: 75
Threat To Attack Player = 75

## The threat level at which rats begin attacking other enemies
# Setting type: Int32
# Default value: 50
Threat To Attack Enemy = 50

## The radius in which rats swarm around their target
# Setting type: Single
# Default value: 3
Swarm Radius = 3

## The maximum number of defense rats assigned to protect the nest
# Setting type: Int32
# Default value: 10
Max Defense Rats = 10

## The amount of attacks needed to do 1 shovel hit of damage to an enemy. If 10, thumper will need to be attacked 40 times by a rat.
# Setting type: Int32
# Default value: 10
Enemy Hits To Do Damage = 10

## How much food points a player corpse gives when brought to the nest
# Setting type: Int32
# Default value: 30
Player Food Amount = 30

## The chance a rat will squeak when completing a run cycle (every second)
# Setting type: Single
# Default value: 0.01
Squeak Chance = 0.01

## If this is true, allows rats to drag players to their nest to eat
# Setting type: Boolean
# Default value: true
Rats Take Player Corpses = true

## Enables the infestation system
# Setting type: Boolean
# Default value: true
Enable Infestation System = true

[Rat Poison Options]

## Whether Rat Poison is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

## Whether you're allowed to edit the config entries for Rat Poison.
# Setting type: Boolean
# Default value: false
Rat Poison | Allow Editing Config = false

## Whether Rat Poison is a shop item.
# Setting type: Boolean
# Default value: true
Rat Poison | Is Shop Item = true

## Cost for Rat Poison in the shop.
# Setting type: Int32
# Default value: 15
Rat Poison | Cost = 15

## The amount of rat poison in a jug of rat poison
# Setting type: Single
# Default value: 5
Max Fluid = 5

## How fast the rat poison pours out of the container
# Setting type: Single
# Default value: 0.1
Pour Rate = 0.1

## The amount of poison you need to pour in a rat nest to disable it
# Setting type: Single
# Default value: 1
Poison To Close Nest = 1

