## Settings file was created by plugin BetterEXP v3.0.1
## Plugin GUID: Swaggies.BetterEXP

[End Screen Notes]

## For the employee with the most collected scrap value.
# Setting type: NoteDisplayOptions
# Default value: OnlyInMultiplayer
# Acceptable values: Disabled, OnlyInMultiplayer, SoloAndMultiplayer
Show Most Profitable = OnlyInMultiplayer

## For the employee with the least steps taken.
# Setting type: NoteDisplayOptions
# Default value: OnlyInMultiplayer
# Acceptable values: Disabled, OnlyInMultiplayer, SoloAndMultiplayer
Show The Laziest = OnlyInMultiplayer

## For the employee with the most turns.
# Setting type: NoteDisplayOptions
# Default value: OnlyInMultiplayer
# Acceptable values: Disabled, OnlyInMultiplayer, SoloAndMultiplayer
Show Most Paranoid = OnlyInMultiplayer

## For the employee with the most damage taken.
# Setting type: NoteDisplayOptions
# Default value: SoloAndMultiplayer
# Acceptable values: Disabled, OnlyInMultiplayer, SoloAndMultiplayer
Show Most Injured = SoloAndMultiplayer

## For the employee with most steps taken.
# Setting type: NoteDisplayOptions
# Default value: OnlyInMultiplayer
# Acceptable values: Disabled, OnlyInMultiplayer, SoloAndMultiplayer
Show Most Active = OnlyInMultiplayer

## For the employee with the least collected scrap value.
# Setting type: NoteDisplayOptions
# Default value: OnlyInMultiplayer
# Acceptable values: Disabled, OnlyInMultiplayer, SoloAndMultiplayer
Show Least Profitable = OnlyInMultiplayer

## For the employee with the most entity kills.
# Setting type: NoteDisplayOptions
# Default value: SoloAndMultiplayer
# Acceptable values: Disabled, OnlyInMultiplayer, SoloAndMultiplayer
Show Most Lethal = SoloAndMultiplayer

## For the ONLY employee with zero entity kills (if any).
# Setting type: NoteDisplayOptions
# Default value: OnlyInMultiplayer
# Acceptable values: Disabled, OnlyInMultiplayer, SoloAndMultiplayer
Show The Pacifist = OnlyInMultiplayer

## For the employee with the most jumps.
# Setting type: NoteDisplayOptions
# Default value: Disabled
# Acceptable values: Disabled, OnlyInMultiplayer, SoloAndMultiplayer
Show Most Jumpy = Disabled

## For the employee with the least jumps.
# Setting type: NoteDisplayOptions
# Default value: Disabled
# Acceptable values: Disabled, OnlyInMultiplayer, SoloAndMultiplayer
Show Most Grounded = Disabled

## For the employee with the longest time spent indoors.
# Setting type: NoteDisplayOptions
# Default value: SoloAndMultiplayer
# Acceptable values: Disabled, OnlyInMultiplayer, SoloAndMultiplayer
Show The Bravest = SoloAndMultiplayer

## For the employee with the longest time spent outdoors.
# Setting type: NoteDisplayOptions
# Default value: OnlyInMultiplayer
# Acceptable values: Disabled, OnlyInMultiplayer, SoloAndMultiplayer
Show Most Outdoors = OnlyInMultiplayer

## For the employee with the longest time spent inside the ship.
# Setting type: NoteDisplayOptions
# Default value: Disabled
# Acceptable values: Disabled, OnlyInMultiplayer, SoloAndMultiplayer
Show The Ship Guy = OnlyInMultiplayer

## For the employee with the most scrap value found.
# Setting type: NoteDisplayOptions
# Default value: SoloAndMultiplayer
# Acceptable values: Disabled, OnlyInMultiplayer, SoloAndMultiplayer
Show #1 Scavenger = SoloAndMultiplayer

## For the employee with zero scrap value found.
# Setting type: NoteDisplayOptions
# Default value: OnlyInMultiplayer
# Acceptable values: Disabled, OnlyInMultiplayer, SoloAndMultiplayer
Show Empty Handed = OnlyInMultiplayer

## For the employee with the most found scrap value that made it to ship in the end.
# Setting type: NoteDisplayOptions
# Default value: Disabled
# Acceptable values: Disabled, OnlyInMultiplayer, SoloAndMultiplayer
Show Team Backbone = Disabled

## For the employee with the most facility exploration.
# Setting type: NoteDisplayOptions
# Default value: SoloAndMultiplayer
# Acceptable values: Disabled, OnlyInMultiplayer, SoloAndMultiplayer
Show The Venturer = SoloAndMultiplayer

## For the employee with the least facility exploration.
# Setting type: NoteDisplayOptions
# Default value: Disabled
# Acceptable values: Disabled, OnlyInMultiplayer, SoloAndMultiplayer
Show Least Venturous = Disabled

[General]

## Whether to show a breakdown of your EXP gains at the end of each day. Doesn't affect gameplay.
# Setting type: Boolean
# Default value: false
Show Round Summary = false

## Whether to show your current BetterEXP rank in the pause menu. Doesn't affect gameplay, but could conflict or overlap with other elements from other mods.
# Setting type: Boolean
# Default value: true
Show Rank In Pause Menu = true

## Saves each day's performance report, including statistics for the day and each player, into a local JSON file that may be viewed or used later. No data will be collected/uploaded anywhere. Useful for developers who'd want to make something cool involving this.
# Setting type: Boolean
# Default value: false
Enable Day Logging = false

## Label for EXP shown on the XP bar in-game and on the pause menu (like the 'EXP' in '1044 EXP')
# Setting type: String
# Default value: EXP
EXP Label = EXP

## Spams logs with BetterEXP info. Recommended to keep off.
# Setting type: Boolean
# Default value: false
Deep Logging = false

[Performance Report]

## Whether or not to style notes on the Performance Report with colors.
# Setting type: Boolean
# Default value: true
Performance Report Styling = true

## Whether or not to show the exact statistic for each note. (such as showing "(1234 steps)" for the most active employee)
# Setting type: Boolean
# Default value: true
Performance Report Stats = true

## Whether to show how much scrap a player collected below or beside their name on the Performance Report screen.
# Setting type: CollectedDisplayOptionSettings
# Default value: BelowName
# Acceptable values: None, BelowName, BesideName
Scrap Collected Display = BelowName

