## Settings file was created by plugin TerminalFormatter v0.0.1
## Plugin GUID: TerminalFormatter

[General]

## Show difficulty in `preview all` setting
# Setting type: Boolean
# Default value: false
Show Difficulty in All = false

## Enable detailed scan page
# Setting type: Boolean
# Default value: true
Detailed Scan Page = true

[Last Used LLL Option]

## Last used preview setting
# Setting type: String
# Default value: All
Last Used Preview = All

## Last used filter setting
# Setting type: String
# Default value: None
Last Used Filter = None

## Last used sort setting
# Setting type: String
# Default value: Price
Last Used Sort = Price

[Moons]

## Use shortened weathers in moons catalogue
# Setting type: Boolean
# Default value: false
Use Shortened Weathers = false

[Nodes]

## Enable node Moons
# Setting type: Boolean
# Default value: true
Moons = true

## Enable node Route
# Setting type: Boolean
# Default value: true
Route = true

## Enable node Scan
# Setting type: Boolean
# Default value: true
Scan = true

## Enable node Store
# Setting type: Boolean
# Default value: true
Store = true

## Enable node Buy
# Setting type: Boolean
# Default value: true
Buy = true

## Enable node CannotAfford
# Setting type: Boolean
# Default value: true
CannotAfford = true

[Store]

## Number of items per shop section (set to 0 to disable)
# Setting type: Int32
# Default value: 5
Divide shop page into groups = 0

